---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostsByYear from '../../components/PostsByYear.astro';
import Pagination from '../../components/Pagination.astro';

type BlogPost = CollectionEntry<'blog'>;
const title = 'All posts'
const description = 'Articles, guides, tutorials, and tech updates.'
const PAGE_SIZE = 10;

const allPosts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const posts = allPosts.slice(0, PAGE_SIZE);
const totalPages = Math.ceil(allPosts.length / PAGE_SIZE);
---

<BaseLayout
	title={title}
	description={description}
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="mb-3 text-4xl font-bold leading-tight">{title}</h1>
      <p class="text-[1.18rem] leading-8 text-zinc-700 dark:text-zinc-300">{description}</p>
    </div>
    <PostsByYear posts={posts}/>
    <Pagination currentPage={1} totalPages={totalPages} />
  </div>
</BaseLayout>
